@import url('./__image/__image.css');
@import url('./__text-container/__text-container.css');
@import url('./__source/__source.css');

.article-card {
    border-radius: 16px;
    background: #fff;
    max-width: 400px;
    min-height: 576px;
    position: relative;
}

@media screen and (max-width: 1024px) {
  .article-card {
    min-height: 420px;
}
}