.articles__title {
    font-family: Roboto Slab, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    max-width: 1232px;
    margin: 0 auto 64px;
    display: none;
}

.articles__title_visible {
display: block;
}