.button {
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  width: 168px;
  height: 64px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}
.menu__link {
    padding-right: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}
.menu {
    display: flex;
    align-items: center;
}
.header__autorization-button-icon {
    margin-left: 10px;
}
.header__autorization-button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    color: #fff;
    padding: 14px 12px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
}
.header__right-side {
    display: flex;
}
.header__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.header {
    display: flex;
    height: 80px;
    padding: 0 104px;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
        align-items: center;
}
.top-section {
    background-image: url(./images/top-background.jpg);
    color: #fff;
    background-size: cover;
}  
@font-face {
        font-family: 'Inter';
        font-style:  normal;
        font-weight: 400;
        src: url(./vendor/Inter-Regular.woff) format("woff");
}

@font-face {
        font-family: 'Roboto';
        font-style:  normal;
        font-weight: 400;
        src: url(./vendor/roboto-regular.woff) format("woff");
}

@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 600;
    src: url(./vendor/roboto-medium.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 900;
  src: url(./vendor/roboto-black.woff) format("woff");
}

@font-face {
    font-family: 'Roboto Slab';
    font-style:  normal;
    font-weight: 400;
    src: url(./vendor/robotoslab-regular.woff) format("woff");
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style:  normal;
    font-weight: 400;
    src: url(./vendor/sourcesanspro-regular.woff) format("woff");
}
.search-block__title {
    font-family: Roboto Slab;
    font-size: 60px;
    font-weight: normal;
    line-height: 64px;
    margin: 0;
}

.search-block__subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 32px 0 64px;
}
.search-form__input {
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    height: 64px;
    width: 100%;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    padding-left: 24px;
}
.search-form__button {
    position: absolute;
    right: 0;
    bottom: 0;
}
.search-form {
    position: relative;
}
.search-block__wrapper {
    margin: 0 auto;
    max-width: 608px;
}
.search-block {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}
.copyright {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 0;
}
.footer__menu-image {
    margin-left: 28px;
}
.footer__menu-link {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    text-decoration: none;
}

.footer__menu-link:nth-child(2) {
    margin: 0 20px 0 30px;
}
.footer__menu {
    display: flex;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 104px;
    align-items: center;
}
.articles__title {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    max-width: 1232px;
    margin: 0 auto 64px;
}
.article-card__add-to-collection {
    background-image: url("./images/Rectangle 8.svg");
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    right: 24px;
}
.article-card__add-to-collection_enabled {
    background-image: url(./images/Rectangle_8_enabled.svg);
}
.article-card__image {
    background-image: url(./images/image_08.jpg);
    max-width: 100%;
    height: 272px;
    background-size: cover;
    padding: 24px;
    position: relative;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
}
.article-card__date {
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 0;
}
.article-card__title {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 12px 0 16px;
}
.article-card__text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 0;
}
.article-card__text-container {
    padding: 20px 24px 54px;
}
.article-card__source {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 0;
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.article-card {
    border-radius: 16px;
    background: #fff;
    max-width: 400px;
    min-height: 576px;
    position: relative;
}
.articles__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    max-width: 1232px;
    margin: auto;
}
.articles__more-button {
    border-radius: 80px;
    background: #FFF;
    width: 288px;
    height: 64px;
    border: none;
    margin: 64px auto 0px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}
.preloader__text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    margin: 24px auto 0;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.circle-preloader {
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid #444;
	border-bottom-color: #F5F6F7;
	border-radius: 50%;
	margin: auto;
	animation: spin .75s infinite linear;
}

.preloader {
    background: #F5F6F7;
    padding: 80px 0;
    display: none;
}
.articles-not-found__title {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #1A1B22;
    margin: 40px 0 16px;
}
.articles-not-found__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    max-width: 356px;
}
.articles-not-found {
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 86px 0 80px;
    display: none;
}
.articles {
    padding: 80px 104px;
    background: #F5F6F7;
    max-width: 1440px;
    margin: 0 auto;
}
.about__portrait {
    width: 464px;
    height: 464px;
    border-radius: 1000px;
}
.about__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0 0 24px;
}
.about__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin: 0 0 24px;
}
.about__text-block {
    margin-left: 56px;
    max-width: 600px;
    padding-top: 51px;
}
.about {
    display: flex;
    padding: 80px 104px;
}
.form__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 25px;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__input::placeholder {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  opacity: 0.2;
}
.form__error {
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 3px 0 0;
  min-height: 15px;
}
.form__input-title {
  font-family: Inter;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  margin: 11px 0 8px;
}
.form__button {
  width: 100%;
  margin-top: 8px;
}
.form {
    display: flex;
    flex-direction: column;
}



.signup {
  display: none;
}
.popup__close {
    position: absolute;
    top: -46px;
    right: -46px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.popup__content {
    width: 430px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    position: fixed;
    top: calc(50% - 190px);
    left: calc(50% - 215px);
    z-index: 999;
    background: #fff;
    padding: 34px 36px 28px;
    box-sizing: border-box;
}
.popup__wrapper {
    background: #000000;
    opacity: 0.5;
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.popup__switch-color-text {
  color: #2F71E5;
}
.popup__switch {
  margin-top: 16px;
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.popup__title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
  margin: 0 0 11px;
}
.popup {
    display: none;
}

.popup_is-opened {
    display: block;
}
.main{margin:0}
