.menu__link {
    margin-right: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 80px;
    box-sizing: border-box;
}

.menu__link:hover {
  cursor: url(./images/Pointer.svg), pointer;
}

.menu__link-active {
  border-bottom: #fff 3px solid;
}

.menu__link_theme_white {
  color: #1A1B22;
}

.menu__link_theme_white-active {
  border-bottom: black 3px solid;
}
.menu {
    display: flex;
    align-items: center;
}
.header__autorization-button-icon {
    margin-left: 10px;
}
.header__autorization-button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    color: #fff;
    padding: 14px 12px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.header__autorization-button:hover {
  cursor: url(./images/Pointer.svg), pointer;
}

.header__autorization-button:focus {
  outline: none;
}

.header__autorization-button_theme_white {
  border: 1px solid #D1D2D6;;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  color: #1A1B22;
}
.header__right-side {
    display: flex;
    align-items: center;
}
.header__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.header {
    display: flex;
    height: 80px;
    padding: 0 104px;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    align-items: center;
}

.header_theme_white {
  box-shadow: inset 0px -1px 0px #D1D2D6;
}
@font-face {
        font-family: 'Inter';
        font-style:  normal;
        font-weight: 400;
        src: url(./vendor/Inter-Regular.woff) format("woff");
}

@font-face {
        font-family: 'Roboto';
        font-style:  normal;
        font-weight: 400;
        src: url(./vendor/roboto-regular.woff) format("woff");
}

@font-face {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 600;
    src: url(./vendor/roboto-medium.woff) format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 900;
  src: url(./vendor/roboto-black.woff) format("woff");
}

@font-face {
    font-family: 'Roboto Slab';
    font-style:  normal;
    font-weight: 400;
    src: url(./vendor/robotoslab-regular.woff) format("woff");
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style:  normal;
    font-weight: 400;
    src: url(./vendor/sourcesanspro-regular.woff) format("woff");
}
.copyright {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 0;
}
.footer__menu-image {
    margin-left: 28px;
}
.footer__menu-link {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    text-decoration: none;
}

.footer__menu-link:nth-child(2) {
    margin: 0 20px 0 30px;
}

.footer__menu-link:hover {
  cursor: url(./images/Pointer.svg), pointer;
}
.footer__menu {
    display: flex;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 104px;
    align-items: center;
}
.articles__title {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    max-width: 1232px;
    margin: 0 auto 64px;
}
.article-card__add-to-collection {
    background-image: url("./images/Rectangle 8.svg");
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    right: 24px;
}

.article-card__add-to-collection:hover {
  background-image: url(./images/Rectangle-hover.svg);
  cursor: url(./images/Pointer.svg), pointer;
}

.article-card__add-to-collection:focus {
  outline: none;
}
.article-card__add-to-collection_enabled {
    background-image: url(./images/Rectangle_8_enabled.svg);
}

.article-card__add-to-collection_enabled:hover {
  background-image: url(./images/Rectangle_8_enabled.svg);
}
.article-card__image {
    background-image: url(./images/image_08.jpg);
    max-width: 100%;
    height: 272px;
    background-size: cover;
    padding: 24px;
    position: relative;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
}
.article-card__date {
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 0;
}
.article-card__title {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 12px 0 16px;
}
.article-card__text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 0;
}
.article-card__text-container {
    padding: 20px 24px 54px;
}
.article-card__source {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 0;
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.article-card {
    border-radius: 16px;
    background: #fff;
    max-width: 400px;
    min-height: 576px;
    position: relative;
}
.articles__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    max-width: 1232px;
    margin: auto;
}
.articles__more-button {
    border-radius: 80px;
    background: #FFF;
    width: 288px;
    height: 64px;
    border: none;
    margin: 64px auto 0px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.articles__more-button:hover {
  cursor: url(./images/Pointer.svg), pointer;
  opacity: 0.9;
}

.articles__more-button:focus {
  outline: none;
}
.preloader__text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    margin: 24px auto 0;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.circle-preloader {
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid #444;
	border-bottom-color: #F5F6F7;
	border-radius: 50%;
	margin: auto;
	animation: spin .75s infinite linear;
}

.preloader {
    background: #F5F6F7;
    padding: 80px 0;
    display: none;
}
.articles-not-found__title {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #1A1B22;
    margin: 40px 0 16px;
}
.articles-not-found__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    max-width: 356px;
}
.articles-not-found {
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 86px 0 80px;
    display: none;
}
.articles {
    padding: 80px 104px;
    background: #F5F6F7;
    margin: 0 auto;
}
.saved-top__text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0 0 28px;
}
.saved-top__articles-counter {
  font-family: Roboto Slab;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 530px;
  margin: 0;
}
.saved-top__keywords {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}
.saved-top__keyword {
  font-weight: 900;
}
.saved-top {
  padding: 40px 104px 56px;
}
.main{margin:0}
