.popup__close {
    position: absolute;
    top: -46px;
    right: -46px;
    background: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
  .popup__close {
    right: -15px;
}
}