@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.circle-preloader {
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid #444;
	border-bottom-color: #F5F6F7;
	border-radius: 50%;
	margin: auto;
	animation: spin .75s infinite linear;
}
