@import url('./copyright/copyright.css');
@import url('./__menu/__menu.css');

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 104px;
    align-items: center;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 20px 40px;
}
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    padding: 20px 16px;
}
}