.article-card__add-to-collection {
    background-image: url('../../../../../../../images/Rectangle\ 8.svg');
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    right: 24px;
}