.saved-top__articles-counter {
  font-family: Roboto Slab, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 530px;
  margin: 0;
}