.saved-top__articles-counter {
  font-family: Roboto Slab, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 530px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .saved-top__articles-counter {
    font-size: 30px;
    line-height: 34px;
    max-width: 336px;
  }
}