.article-card__keyword {
  background: #FFFFFF;
  border-radius: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  width: fit-content;
  padding: 8px 10px;
  position: absolute;
  top: 24px;
  left: 24px;
  max-height: 40px;
}

@media screen and (max-width: 1024px) {
  .article-card__keyword {
    padding: 8px 12px;
    top: 8px;
    left: 8px;
    max-width: 170px;
    box-sizing: border-box;
}
}