@import url('./article-card/article-card.css');

.articles__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    max-width: 1232px;
    margin: auto;
}

@media screen and (max-width: 1024px) {
  .articles__container {
    grid-row-gap: 8px;
}
}