@import url('./__portrait/__portrait.css');
@import url('./__text-block/__text-block.css');

.about {
    display: flex;
    padding: 80px 104px;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 40px;
}
}