.menu__link {
    margin-right: 32px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 80px;
    box-sizing: border-box;
}

.menu__link_invisible {
display: none;
}

.menu__link:hover {
  cursor: url('../../../../../../../images/Pointer.svg'), pointer;
}

.menu__link-active {
  border-bottom: #fff 3px solid;
}

.menu__link_theme_white {
  color: #1A1B22;
}

.menu__link_theme_white-active {
  border-bottom: black 3px solid;
}

@media screen and (max-width: 900px) {
  .menu__link {
    height: 66px;
}
}

@media screen and (max-width: 639px) {
  .menu__link {
    line-height: 56px;
    margin-right: 16px;
    height: auto;
    margin-right: 0;
}

.menu__link-active {
  border: none;
}

.menu__link_theme_white {
  color: #fff;
}

.menu__link_theme_white-active {
  border-bottom: none;
}
}