@import url('./__menu-image/__menu-image.css');

.footer__menu-link {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    text-decoration: none;
}

.footer__menu-link:nth-child(2) {
    margin: 0 20px 0 30px;
}